#square_embie {
  stroke-dasharray: 1156.31787109375;
  stroke-dashoffset: 1156.31787109375;
  animation: square_embie_path 4s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes square_embie_path {
  0% {
    stroke: #cda7ea;
    transform: translate(-15vw, -15vh) rotateZ(0);
  }
  25% {
    stroke: #ffaf23;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #161644;
  }
  100% {
    stroke: #ea492e;
    transform: translate(100vw, 100vh) rotateZ(180deg);
  }
  to {
    stroke-dashoffset: 575;
  }
}

#square_2_embie {
  stroke-dasharray: 1156.31787109375;
  stroke-dashoffset: 1156.31787109375;
  animation: square_2_embie_path 3s linear 2s infinite alternate;
  transform: translate(30%, 50%);
  fill: none !important;
}

@keyframes square_2_embie_path {
  0% {
    stroke: #cda7ea;
    transform: translate(60vw, -200px) rotateZ(0);
  }
  25% {
    stroke: #ea492e;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #ffaf23;
  }
  100% {
    stroke: #161644;
    transform: translate(40vw, 100vh) rotateZ(180deg);
  }
  to {
    stroke-dashoffset: 575;
  }
}

#triangle_embie {
  stroke-dasharray: 1073.3330078125;
  stroke-dashoffset: 1073.3330078125;
  animation: triangle_embie_path 3s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes triangle_embie_path {
  0% {
    stroke: #60a1e2;
    transform: translate(100vw, 200px) rotateZ(0);
  }
  25% {
    stroke: #ffaf23;
  }
  50% {
    stroke: #ea492e;
  }
  75% {
    stroke: #cda7ea;
  }
  100% {
    stroke: #161644;
    transform: translate(-250px, 70vh) rotateZ(360deg);
  }
  to {
    stroke-dashoffset: 537;
  }
}

#triangle_2_embie {
  stroke-dasharray: 1073.3330078125;
  stroke-dashoffset: 1073.3330078125;
  animation: triangle_2_embie_path 4s linear 1s infinite alternate;
  fill: none !important;
}

@keyframes triangle_2_embie_path {
  0% {
    stroke: #ffaf23;
    transform: translate(10vw, 100vh) rotateZ(0);
  }
  25% {
    stroke: #ea492e;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #cda7ea;
  }
  100% {
    stroke: #161644;
    transform: translate(30vw, -90vh) rotateZ(-360deg);
  }
  to {
    stroke-dashoffset: 537;
  }
}

#circle_embie {
  stroke-dasharray: 1087.1011962890625;
  stroke-dashoffset: 1087.1011962890625;
  animation: circle_embie_path 3s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes circle_embie_path {
  0% {
    stroke: #ea492e;
    transform: translate(-200px, 400px) rotateZ(0);
  }
  25% {
    stroke: #ffaf23;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #cda7ea;
  }
  100% {
    stroke: #161644;
    transform: translate(100vw, 60vh) rotateZ(90deg);
  }
  to {
    stroke-dashoffset: 543;
  }
}

#circle_2_embie {
  stroke-dasharray: 1087.1011962890625;
  stroke-dashoffset: 1087.1011962890625;
  animation: circle_2_embie_path 3s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes circle_2_embie_path {
  0% {
    stroke: #ea492e;
    transform: translate(70vw, -200px) rotateZ(0);
  }
  25% {
    stroke: #ffaf23;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #cda7ea;
  }
  100% {
    stroke: #161644;
    transform: translate(100vw, 60vh) rotateZ(90deg);
  }
  to {
    stroke-dashoffset: 543;
  }
}

#hexagon_embie {
  stroke-dasharray: 1138.7408447265625;
  stroke-dashoffset: 1138.7408447265625;
  animation: hexagon_embie_path 3.5s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes hexagon_embie_path {
  0% {
    stroke: #161644;
    transform: translate(-200px, 60vh) rotateZ(0);
  }
  25% {
    stroke: #cda7ea;
  }
  50% {
    stroke: #60a1e2;
  }
  75% {
    stroke: #ffaf23;
  }
  100% {
    stroke: #ea492e;
    transform: translate(100vw, 10vh) rotateZ(180deg);
  }
  to {
    stroke-dashoffset: 569;
  }
}

#hexagon_2_embie {
  stroke-dasharray: 1138.7408447265625;
  stroke-dashoffset: 1138.7408447265625;
  animation: hexagon_2_embie_path 4s linear 0s infinite alternate;
  fill: none !important;
}

@keyframes hexagon_2_embie_path {
  0% {
    stroke: #60a1e2;
    transform: translate(-200px, 60vh) rotateZ(0);
  }
  25% {
    stroke: #161644;
  }
  50% {
    stroke: #ea492e;
  }
  75% {
    stroke: #ffaf23;
  }
  100% {
    stroke: #cda7ea;
    transform: translate(40vw, -50vh) rotateZ(-270deg);
  }
  to {
    stroke-dashoffset: 569;
  }
}
